<div id="container">
  <div id="main">
    <header>
      <%= image_tag 'logo.png' %>
      <div class="phone">
        <pre><%= TWILIO_CONFIG["incomming_phone_number"] %></pre>
        <p>Text to join!</p>
      </div>
    </header>
    <div id="content">
      <div id="player1" class="player">
        <span class="name">Player One</span>
        <span class="score">0</span>
      </div>
      <div id="player2" class="player">
        <span class="name">Player Two</span>
        <span class="score">0</span>
      </div>
      
      <p id="notice">
        Welcome to Family Feud!
        <br/>
        Text the number above to join.
        <br/>
        Two players will be selected to compete!
      </p>
    
      <ul id="logos">
        <li id="arduino_logo"></li>
        <li id="sparkfun_logo"></li>
        <li id="twilio_logo"></li>
      </ul>
      <p id="state_notice">idle</p>

      <div id="answer"></div>
    </div>
  </div>
</div>
