html, body {
  width:100%;
  height:100%;
  background:url('background.png');
}

#container {
  width:100%;
  height:100%;
  text-align:center;
}

#main {
  width:960px;
  margin:0 auto;
  text-align:left;
  overflow:hidden;
  border:1px solid #ccc;
  border-top:none;
}

header {
  text-align:left;
  overflow:hidden;
  padding:20px;
  background: -webkit-linear-gradient(top,  #0066cb 0%,#002850 100%); /* Chrome10+,Safari5.1+ */
}

header img {
  float:left;
}

header div.phone {
  width:490px;
  float:right;
  padding-top:26px;
}

header div.phone pre {
  float:left;
  padding:20px;
  font-size:32px;
  width:230px;
  -webkit-box-shadow:2px 2px 100px 5px #333;
}

header div.phone p {
  float:right;
  width: 200px;
  font-size:28px;
  text-align:center;
  padding-top:20px;
  color:whiteSmoke;
  text-shadow:2px 2px 2px #000;
}

#content {
  position:relative;
  float:left;
  width:100%;
  padding-top:20px;
  min-height:400px;
  background:rgba(255,255,255,0.6);
  font-size:20px;
}

div.player {
  width:200px;
  background: -webkit-linear-gradient(top,  #f26722 0%,#fff54e 100%); /* Chrome10+,Safari5.1+ */
  margin:0 20px 20px 20px;
  border-radius:10px;
  padding:10px;
  text-align:center;
  -webkit-box-shadow:2px 2px 5px 0px #000;
  font-weight:bold;
  color:#333;
  text-transform:uppercase;
  border:1px solid rgba(255,255,255,0.8);
}

div.player .score {
  padding-left:20px;
  font-size:24px;
}

#player1 {
  float:left;
}

#player2 {
  float:right;
}

p#notice {
  width:920px;
  font-size:35px;
  text-align:center;
  color:#333;
  padding:100px 20px 0;
  text-shadow:2px 2px 5px #666;
  text-transform:uppercase;
  line-height:42px;
}

ul#logos {
  position:absolute;
  left:0;
  bottom:0;
}

ul#logos li {
  float:left;
  clear:none;
  list-style:none;
  width:50px;
  height:50px;
}

li#arduino_logo {
  background:url('arduino_logo.jpg');
  background-size:100% 100%;
}

li#sparkfun_logo {
  background:url('sparkfun_logo.png');
  background-size:100% 100%;
}

li#twilio_logo {
  background:url('twilio_logo.png');
  background-size:100% 100%;
}

p#state_notice {
  position:absolute;
  right:12px;
  bottom:10px;
  font-size:25px;
  text-transform:uppercase;
  margin:0;
  font-weight:bold;
  color:#004880;
}








